.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.author-container {
  margin-right: 1rem;
  text-align: right;
}

.btn {
  opacity: 0.90;
}

.btn-container {  
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-right: 3rem;
  
}

.container {
  background: rgba(255, 255, 255, 0.385); 
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  width: 50%;
}

.container-color {
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
}

.double-quote {
  font-size: 4rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  display: inline-block;
  margin-right: 0.2rem;
  height: 100%;
  position: relative;
  top: 20px;  
}

.quote-container {
  line-height: 2rem;
}




